.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
    --Purple-claro: hsl(297, 70%, 61%);
    --Purple-claro-b: hsla(297, 70%, 61%, 0.2);

    --hueso: #F5F5F5;
    --Font-family: 'Work Sans', sans-serif;
    --Font-size-body: 16px;
    --Font-weight-regular: 400;
    --Font-weight-semi-bold: 600;
    --Font-weight-bold: 700;
}
body {
    background-color: var(--Purple-100);

    font-family: var(--Font-family);
    font-size: var(--Font-size-body);

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    width: 100%;
    height: 100%;

    color: var(--Purple-600);
}
header {
    position: absolute;
    top: 0;
    left: 0;

    background-image: url('./assets/images/background-pattern-desktop.svg');
    height: 15rem;
    width: 100%;

    z-index: -1;
    

}
h1 {
    font-size: 3rem;
    color: var(--Purple-950);
}
h2 {
    font-size: 16px;
    font-weight: var(--Font-weight-semi-bold);
    color: var(--Purple-950);
}
.titulo {
    display: flex;
    align-items: center;
    min-height: 3rem;

    gap: 1rem;
    margin-bottom: 1.5rem;
}
.principal {
    max-width: 40rem;
    padding: 2.5rem 2.5rem 1rem 2.5rem;

    margin: 10rem auto auto auto;

    background-color: var(--White);
    border-radius: 1rem;

    box-shadow: 0px 20px 15px 0px var(--Purple-claro-b);

}

.caja .div-funciones {
    display: flex;
    align-items: center;

    border-bottom: var(--hueso) solid 1px;
    border-top: var(--hueso) solid 1px;

    padding: 1rem 1rem 1rem 0rem; 
}
.caja .div-funciones:first-child {
    border-top: none;
}
.caja:last-of-type .div-funciones{
    border-bottom: none;
}

.caja .div-funciones img {
    margin-left: auto;
}

.caja h2:hover {
    cursor: pointer;

    color: var(--Purple-claro);
}
.caja div img {
    cursor: pointer;
}
.caja p{
    padding: 0 1rem;
    
    line-height: 1.5rem;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
    opacity: 0;
}

/* Activo */
.open p{
    padding: 1rem 1rem;
    max-height: 20rem;
    opacity: 1;

}

@media (max-width: 645px) {
    .principal {
        width: 95vw;
    }
    header {
        background-image: url('./assets/images/background-pattern-mobile.svg');
    }
    h1 {
        font-size: 2rem;
    }
    .titulo img{
        width: 2rem;
    }
    .caja .div-funciones {
        padding: 1rem 1rem 1rem 0rem;
    }
    .caja .div-funciones h2{
        padding: 0.5rem 2rem 0.5rem 0rem;
        justify-self: flex-start;
    }
    .principal {
        padding: 1.5rem 1.5rem 0.4rem 1.5rem;
    }
    .titulo {
        margin-bottom: 0rem;
    }
}